---
layout: index
---

<ul class="posts">
  {% for post in site.posts %}
  <li>
    <small class="datetime muted" data-time="{{ post.date }}">{{ post.date | date_to_string }} </small>
    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    {% comment %}
    =======================
    The purpose of this snippet is to list all the tags you have in your site.
    =======================
    {% endcomment %}
    {% for tag in tags %}
	  <a href="#{{ tag | slugify }}"> {{ tag }} </a>
    {% endfor %}
  </li>
  {% endfor %}
</ul>
